NEXTAUTH_URL=http://localhost:5100
NEXTAUTH_SECRET=
INTERNAL_REQUEST_SECRET=

SITE_ENV=local
NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:5100
NEXT_PUBLIC_API_URL=http://localhost:5100/api
NEXT_STORE_ID=
COOKIE_MAX_AGE=2592000

TEMPLATE_ID=modave
NEXT_PUBLIC_ACTIVE_TEMPLATE=modave
NEXT_PUBLIC_FONT_PROVIDER=local

NEXT_PUBLIC_ENABLE_CROSS_SITE_PAYMENT=false
NEXT_PUBLIC_ORIGIN_SITE_URL=
NEXT_PUBLIC_PAYMENT_SITE_URL=

MONGODB_URI=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

SMTP_HOST=
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_SECURE=false
ENABLED_EMAIL=false

NEXT_PUBLIC_GEMINI_API_KEY=
NEXT_PUBLIC_GA_ID=
GOOGLE_RECATURE_SITE_KEY=
NEXT_PUBLIC_FB_PIXEL_ID=
ENABLE_FB_TRACKING_IN_DEV=false
NEXT_PUBLIC_ENABLE_TRACKING=false
FACEBOOK_ACCESS_TOKEN=
INSTAGRAM_CLIENT_ID=
INSTAGRAM__CLIENT_SECRET=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=

NEXT_PUBLIC_CYBERSOURCE_ACCESS_KEY=
NEXT_PUBLIC_CYBERSOURCE_PROFILE_ID=
CYBERSOURCE_SECRET_KEY=
PAYHERE_MERCHANT_ID=
PAYHERE_MERCHANT_SECRET=
KOKO_MERCHANT_ID=
KOKO_API_KEY=
KOKO_PRIVATE_KEY=
KOKO_PUBLIC_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
